$primary-color-150: #073557;
$primary-color: #34597d;
$primary-color-75: #4578a7;
$primary-color-50: #8baecf;
$primary-color-10: #e7f7ff;

$white-text: #ffffff;
$border-color: #ced4da;
$input-boder-color: #ccc;
$primary-text: #181818;
$secondary-text: #7a7a7a;
$gray-text: #575757;
$placeholder-text: #dddddd;
$input-text-color: #4d4d4d;
$hover-color: #eeeeee;
$nav-tab-color: #114d88;
$background-color: $hover-color;
$tr-even-clr: #F2F2F2;

// color-variables
$white: #ffffff;
$green: #43852b;
$blue: #489bff;
$red:#de3a3a;
$purple: #5E54AA;
$danger-color: $red;
$yellowgreen : #9acd32;
$yellow : #FFFF00;
$orange : #FFA500;
$orangered : #FF4500;
$black: #000000;
$light-gray: #d3d3d3;
